@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>Alquiler de Apartamentos || BrainsDev Medellin</title>
		<!-- Bootstrap core CSS -->
		<link href="stylesheets/bootstrap.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="stylesheets/style.css" rel="stylesheet">
		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
<!--         <title>@title</title> -->
<!--         <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> -->
<!--         <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"> -->
<!--         <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script> -->
    </head>
    <body>
<!--         @content -->
    <!-- Fixed navbar -->
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Alquiler</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="registro.html">Registro</a></li>
						<li><a href="about.html">Acerca de</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
		<div class="container">
			<div class="jumbotron">				
				<h1>Alquiler de Apartamentos</h1>
				<hr class="featurette-divider">
				<div class="row">
					<div class="col-md-5">
						<img class="featurette-image img-responsive"  alt="Logo Brain" src="img/LogoBrain.png">
					</div>
					<div class="col-md-7">
						<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			        	<p><a href="#" class="btn btn-lg btn-success" >Registrar</a></p>
					</div> 
				</div>
			</div>
			<div class="col-md-12">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum feugiat rhoncus. Morbi elementum, nulla nec tristique lobortis, purus eros adipiscing nisi, sit amet vestibulum massa risus sed urna. Integer ut ornare quam. Cras a arcu nec odio lacinia feugiat. Mauris sed sollicitudin lectus. Integer orci arcu, dictum elementum enim sed, accumsan ullamcorper eros. Nam fringilla non purus lacinia sollicitudin. Vestibulum interdum non mauris hendrerit semper. Aenean vitae magna nibh. Nam vitae consequat ipsum, et mattis augue. Aliquam iaculis mi elit, at fringilla magna scelerisque nec. Pellentesque id magna augue.
				</p>
			</div>
		</div>

		
		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="javascripts/libs/jquery.js"></script>
		<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
		<script src="javascripts/libs/underscore.js"></script>
		<script src="javascripts/libs/bootstrap.min.js"></script>
		<script src="javascripts/app.js"></script>
		<script src="javascripts/docs.min.js"></script>
	    <script src="javascripts/plugins.js"></script>
	    <script src="vendor/jquery.easing.js"></script>
	    <script src="vendor/jquery.appear.js"></script>
	    <script src="vendor/jquery.cookie.js"></script>
	    <script src="vendor/twitterjs/twitter.js"></script>
	    <script src="vendor/owl-carousel/owl.carousel.js"></script>
	    <script src="vendor/jflickrfeed/jflickrfeed.js"></script>
	    <script src="vendor/magnific-popup/magnific-popup.js"></script>
	    <script src="vendor/jquery.stellar.js"></script>
	    <script src="vendor/jquery.validate.js"></script>
	    <!-- Theme Initializer -->
	    <script src="javascripts/theme.js"></script>
	    <!-- Custom JS -->
	    <script src="javascripts/custom.js"></script>
	</body>
</html>
